.body{
	margin: 0;
}

.header{
	background-image: url(./image/Background.jpg);
	height: 450px;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.header_container{
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	background-color: rgba(150, 176, 242, 0.9);
}

.title{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-variant: all-petite-caps;
	font-size: 35px;
	margin: 0;
	height: 49px;
	align-self: center;
	padding-left: 100px;
}

.title_link{
	text-decoration: none;
	color: white;
}

.header_navigator{
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 400px;
	padding: 0;
	margin: 0;
	align-self: center;
	padding-right: 100px;
}

.header_navigator > li {
	padding-bottom: 15px;
	padding-top: 15px;
}

.header_navigator_link{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: white;
	font-size: 16px;
	text-decoration: none;
}

 .header_navigator_link:hover {
 	background-color: rgba(255, 255, 255, 0.9);
 	padding: 6px;
	border-radius: 5px;
	color: black;
 }


.header_navigator_link_aqua{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: white;
	font-size: 16px;
	text-decoration: none;
	position: relative;
}

.header_navigator_link_aqua:hover{
	background-color: rgba(255, 255, 255, 0.9);
 	padding: 6px;
	border-radius: 5px;
	color: black;
}

.header_navigator_aquariums{
	position: absolute;
	display: none;
	width: 150px;
	top: 100%;
	left: -1px;
	padding: 6px;
	list-style: none;
	background-color: rgba(12, 12, 57, 0.9);
	border-radius: 5px
}

.header_navigator_aquariums > li {
	padding: 6px;

}

.header_navigator_aquariums > li > a {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: white;
	font-size: 16px;
	text-decoration: none;
}

.header_navigator_aquariums > li > a:hover {
	background-color: rgba(255, 255, 255, 0.9);
 	padding: 6px;
	border-radius: 5px;
	color: black;
}

.header_navigator_aquariums_point{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: white;
	font-size: 16px;
	text-decoration: none;
}


.header_navigator_link_aqua:hover .header_navigator_aquariums{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: left;
}

.header_navigator_link_menu{
	position: relative;
}

.menu{
	height: 30px;
	padding-left: 115px;
	padding-right: 115px;
	padding-bottom: 5px;
	padding-top: 5px;
	display: none;
}

.menu_list{
	display: none;
	list-style: none;
	height: 230px;
	width: 200px;
	top: 100%;
	left: 0;
	background-color: rgba(150, 176, 242, 0.9);
	padding: 20px;
	padding-left: 40px;
	position: absolute;
}

.menu_list_li:hover {
	padding: 7px;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 5px;
}

.menu_list_li:hover .menu_list_point{
	color: black;
}

.menu_list_li:hover .menu_list_point_aqua{
	color: black;
}

.header_navigator_link_menu:hover .menu_list{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.menu_list_point{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: white;
	font-size: 16px;
	text-decoration: none;
}

.menu_list_point_aqua{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: white;
	font-size: 16px;
	text-decoration: none;
	padding-left: 20px;
}

.main{
	background-image: linear-gradient(to top, #0C0C39, #96B0F2);
	padding-top: 100px;

}

.products{
	display: flex;
	justify-content: center;
	padding-bottom: 100px;
}

.products_list{
	display: flex;
	justify-content: space-between;
	width: 80%;
	padding: 0;
	margin: 0;
	list-style: none;
}

.products_list_point{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: #F8F6EA;
	width: 32%;
	height: 350px;
}

.products_list_point_name{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-variant: all-petite-caps;
	font-size: 20px;
	margin: 0;
	padding-top: 10px;
}


.products_list_point_div{
	display: flex;
	align-items: center;
	width: 60%;
	height: 170px;
}

.products_list_point_image{
	height: 35px;
}

.products_list_point_text{
	font-family: 'Rubik', sans-serif;
	font-style: 16px;
	text-align: center;
}

.products_list_point_link{
	font-family: 'Rubik', sans-serif;
	font-size: 13px;
	text-decoration: none;
	color: #020411;
}

.broad_description{
	padding-top: 100px; 
	display: flex;
	flex-direction: column;
	align-items: center;
}

.broad_description_product_sea{
	height: 400px;
	width: 80%;
	display: flex;
	justify-content: space-between;
}

.broad_description_product_sweet{
	height: 400px;
	width: 80%;
	display: flex;
	justify-content: space-between;
	padding-bottom: 50px;
	padding-top: 150px;
}

.broad_description_product_textbox_1{
	width: 40%;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.broad_description_product_textbox_2{
	width: 40%;
	color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.broad_description_product_textbox_name{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-variant: all-petite-caps;
	margin: 0;
	font-size: 30px;
}

.broad_description_product_textbox_text{
	font-family: 'Rubik', sans-serif;
	margin: 0;
	width: 90%;
	padding-top: 20px;
	font-style: 16px;
}

.broad_description_product_image{
	width: 520px;
	height: 400px;
	align-self: center;
	display: inline-block;
}

.broad_description_product_image_container1{
	height: 49%;
	width: 49%;
	background-image: url(./image/Sea1.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	background-position: center;
}

.broad_description_product_image_container2{
	height: 49%;
	width: 49%;
	background-image: url(./image/Sea2.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	background-position: center;
}

.broad_description_product_image_container3{
	height: 49%;
	width: 49%;
	background-image: url(./image/Sea3.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	background-position: center;
}

.broad_description_product_image_container4{
	height: 49%;
	width: 49%;
	background-image: url(./image/Sea4.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	background-position: center;
}

.broad_description_product_image_container5{
	height: 49%;
	width: 49%;
	background-image: url(./image/Sweetwater1.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	background-position: center;
}

.broad_description_product_image_container6{
	height: 49%;
	width: 49%;
	background-image: url(./image/Sweetwater2.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	background-position: center;
}

.broad_description_product_image_container7{
	height: 49%;
	width: 49%;
	background-image: url(./image/Sweetwater3.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	background-position: center;
}

.broad_description_product_image_container8{
	height: 49%;
	width: 49%;
	background-image: url(./image/Sweetwater4.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	background-position: center;
}

.section_form{
 	display: flex;
 	justify-content: center;
 	padding-top: 100px;
 }

.form{
	padding-bottom: 150px;
	width: 600px;
	display: flex;
	flex-direction: column;
}

.online_form_name{
	display: flex;
	justify-content: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: white;
	font-variant: all-petite-caps;
	font-size: 30px;
}

.online_form_form{
	display: flex;
	justify-content: space-around;
	height: 300px;
	flex-direction: column;
	align-items: center;
	margin: 0;
}

.online_form_form_placeholder{
	border-radius: 3px;
	padding: 10px;
	font-family: 'Rubik', sans-serif;
	font-size: 14px;
	width: 180px;
	border: 0px;
}

.online_form_form_textbox{
	border-radius: 3px;
	font-family: 'Rubik', sans-serif;
	padding: 10px;
	font-size: 14px;
	width: 548px;
}

.online_form_form_button{
	border-radius: 3px;
	padding: 10px;
	width: 548px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 18px;
	background-color: #96B0F2;
	font-variant: all-petite-caps;
	border: 0px;
}

.class_footer{
	background-image: url(./image/Background_footer.jpg);
	background-size: cover;
	height: 300px;
}

.container{
	display: flex;
	justify-content: center;
	height: 100%;
	background: RGB(0, 0, 0, 0.4);

}

.container_contacts{
	width: 80%;
	height: 50%;
	align-self: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 0;
}

.container_contacts_link{
	color: #F8F6EA;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-variant: all-petite-caps;
	font-size: 20px;
	opacity: 1;
}

@media screen and (max-width: 1100px) {

	.products{
	display: flex;
	justify-content: center;
	padding-bottom: 30px;
	}

	.products_list{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 80%;
	padding: 0;
	margin: 0;
	list-style: none;
	}

	.products_list_point{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: #F8F6EA;
	width: 100%;
	height: 250px;
	margin-bottom: 10px;
	}

	.products_list_point_div{
	display: flex;
	align-items: center;
	width: 60%;
	height: 90px;
	}

	.broad_description{
	padding-top: 60px; 
	display: flex;
	flex-direction: column;
	align-items: center;
	}

	.broad_description_product_sea{
	width: 80%;
	height: 450px;
	box-sizing: content-box;
	display: flex;
	flex-direction: column;
	padding-bottom: 30px;
	justify-content: space-around;
	}

	.broad_description_product_sweet{
	width: 80%;
	height: 450px;
	box-sizing: content-box;
	display: flex;
	flex-direction: column-reverse;
	padding-bottom: 30px;
	padding-top: 60px;
	justify-content: space-around;
	}

	.broad_description_product_textbox_1{
	width: 100%;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	}

	.broad_description_product_textbox_2{
	width: 100%;
	color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	}

	.broad_description_product_image{
	width: 100%;
	height: 200px;
	align-self: center;
	display: inline-block;
	}


	.broad_description_product_image_container1{
	height: 100%;
	width: 24%;
	background-image: url(./image/Sea1.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	background-position: center;
	}

	.broad_description_product_image_container2{
	height: 100%;
	width: 24%;
	background-image: url(./image/Sea2.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	background-position: center;
	}

	.broad_description_product_image_container3{
	height: 100%;
	width: 24%;
	background-image: url(./image/Sea3.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	background-position: center;
	}

	.broad_description_product_image_container4{
	height: 100%;
	width: 24%;
	background-image: url(./image/Sea4.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	background-position: center;
	}

	.broad_description_product_image_container5{
	height: 100%;
	width: 24%;
	background-image: url(./image/Sweetwater1.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	background-position: center;
	}

	.broad_description_product_image_container6{
	height: 100%;
	width: 24%;
	background-image: url(./image/Sweetwater2.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	background-position: center;
	}

	.broad_description_product_image_container7{
	height: 100%;
	width: 24%;
	background-image: url(./image/Sweetwater3.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	background-position: center;
	}

	.broad_description_product_image_container8{
	height: 100%;
	width: 24%;
	background-image: url(./image/Sweetwater4.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	background-position: center;
	}

	.section_form {
    padding-top: 60px;
	}

}

@media screen and (max-width: 800px) {
	.header_navigator_link{
	display: none;
	}

	.header_navigator_link_aqua{
	display: none;
	}

	.header_navigator{
	padding-right: 0;
	}

	.header_navigator_link_menu{
	display: flex;
	justify-content: center;
	}

	.menu{
	display: block;
	}

	.broad_description_product_sea{
	width: 80%;
	height: 450px;
	box-sizing: content-box;
	display: flex;
	flex-direction: column;
	padding-bottom: 30px;
	padding-top: 30px;
	justify-content: space-around;
	}

	.broad_description_product_sweet{
	width: 80%;
	height: 450px;
	box-sizing: content-box;
	display: flex;
	flex-direction: column-reverse;
	padding-bottom: 30px;
	padding-top: 90px;
	justify-content: space-around;
	}
}