.body{
	margin: 0;
}

.header{
	display: flex;
	flex-direction: column;
}

.header_top_line{
	background-color: #04030F;
	height: 35px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header_top_phone{
	padding-left: 5%;
}

.div_social_networks{
	padding-right: 5%;
}

.social_networks{
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 80px;
	margin: 0;
	padding: 0;
}

.header_top_img{
	height: 20px;
}

.main_image{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 450px;
	background-image: url(./image/Sea.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: center;
	background-position-x: center;
}

.main_image_text{
	width: 80%;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	text-align: left;
	color: #FFFFFF;
	margin: 0;
}

.header_name{
	padding-left: 5%;
	padding-top: 5%;
}

.title{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-variant: all-petite-caps;
	color: #FFFFFF;
	font-size: 60px;
	margin: 0;
}

.title_under{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-variant: all-petite-caps;
	color: #FFFFFF;
	font-size: 20px;
	margin: 0;
	
}

.title_link{
	text-decoration: none;
	color: black;
}

.header_navigator{
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 300px;
	padding-left: 5%;
	padding-bottom: 5%;
	margin: 0;
}


.header_navigator_link{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	padding: 6px;
	color: #FFFFFF;
	font-size: 20px;
	text-decoration: none;
	font-variant: all-petite-caps;
}

.products{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: url(./image/Star.jpeg);
	background-size: cover;
	background-position-x: right; 
}

.link_location{
	position: absolute;
}

.products_list{
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
}

.products_list_point_1{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	background-color: rgba(0,0,0,0.2);
	align-items: center;
	width: 33%;
	padding: 1%;
	height: 350px;
	color: #FFFFFF;
	cursor: pointer;
}

.products_list_point_1:hover  {
	background-color: rgba(0,0,0,0.5);
}

.products_list_point_1:hover .products_list_point_div1{
	display: flex;
}

.products_list_point_2{
	display: flex;
	flex-direction: column;
	background-color: rgba(0,0,0,0.2);
	justify-content: space-evenly;
	align-items: center;
	width: 33%;
	padding: 1%;
	height: 350px;
	color: #FFFFFF;
	cursor: pointer;
}

.products_list_point_2:hover .products_list_point_div2{
	display: flex;
}

.products_list_point_2:hover  {
	background-color: rgba(0,0,0,0.5);
}

.products_list_point_3{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	background-color: rgba(0,0,0,0.2);
	align-items: center;
	width: 33%;
	padding: 1%;
	height: 350px;
	color: #FFFFFF;
	cursor: pointer;
}

.products_list_point_3:hover  {
	background-color: rgba(0,0,0,0.5);
}

.products_list_point_3:hover .products_list_point_div3{
	display: flex;
}

.products_list_point_name{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-variant: all-petite-caps;
	font-size: 35px;
	text-align: center;
	margin: 0;
	position: relative;
}


.products_list_point_div1{
	display: none;
	align-items: center;
	width: 300px;
	position: relative;
}

.products_list_point_div2{
	display: none;
	align-items: center;
	width: 300px;
	position: relative;
}

.products_list_point_div3{
	display: none;
	align-items: center;
	width: 300px;
	position: relative;
}

.products_list_point_image{
	height: 70px;
	position: relative;
}

.products_list_point_text{
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	font-size: 18px;
	text-align: center;
	margin: 0;
}

.div_show_hide{
	display: none;
	flex-direction: column;
	justify-content: center;
	background-color: rgba(0,0,0,0.5);
	color: #FFFFFF;
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	font-size: 18px;
	text-align: center;
	padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.div_products_list_point_name {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-variant: all-petite-caps;
	font-size: 30px;
	text-align: center;
	margin: 0;
	position: relative;
	color: #FFFFFF;
}

.div_show_hide_list{
	display: contents;
	list-style-position: inside;
}

.broad_description{ 
	display: flex;
	flex-direction: column;
	align-items: center;
}

.broad_description_product_sea{
	height: 400px;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	background-image: url(./image/Background.jpg);
	background-size: cover;
	background-position-y: center;
	background-position-x: center;
}

.broad_description_product_sea::before {
	content: '';
	display: block;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	height: 400px;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}

.broad_description_product_sea:hover .broad_description_product_textbox_text_1{
	display: flex;
}

.broad_description_product_sea:hover::before{
	opacity: 1;
}

.broad_description_product_sweet{
	height: 400px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	background-image: url(./image/Discus.jpg);
	background-size: cover;
	background-position-y: center;
}

.broad_description_product_sweet::before {
	content: '';
	display: block;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	height: 400px;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}

.broad_description_product_sweet:hover .broad_description_product_textbox_text_2{
	display: flex;
}

.broad_description_product_sweet:hover::before{
	opacity: 1;
}

.broad_description_product_textbox_1{
	width: 40%;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	position: relative;
}

.broad_description_product_textbox_2{
	width: 40%;
	color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

.broad_description_product_textbox_name{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-variant: all-petite-caps;
	margin: 0;
	font-size: 35px;
	padding-left: 5%;
	padding-right: 5%;
	color: #FFFFFF;
	position: relative;
}

.broad_description_product_textbox_text_1{
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	margin: 0;
	width: 90%;
	padding-top: 20px;
	padding-left: 5%; 
	font-size: 18px;
	display: none;
}

.broad_description_product_textbox_text_2{
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	margin: 0;
	width: 90%;
	padding-top: 20px;
	padding-right: 5%;
	font-size: 18px;
	display: none;
}

.apply{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 400px;
	background-image: url(./image/Stars.jpg);
	background-size: cover;
	background-position-y: center;
}

.apply::before{
	content: '';
	display: block;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	height: 400px;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}

.apply:hover::before{
	opacity: 1;
}

.apply:hover .div_show_hide_apply{
	display: block;
}

.div_show_hide_apply{
	display: none;
	flex-direction: column;
	justify-content: center;
	position: relative;
	align-items: center;
	color: #FFFFFF;
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	font-size: 18px;
	text-align: center;
	padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}

.div_show_hide_link{
	color: #a3c9ed;
	font-weight: 400;
	text-decoration: none;
}

.div_show_hide_link:hover {
	color: #70a6cf;
}

.form{
	position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form_div{
	width: 550px;
    height: 300px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}


.form_close{
    display: flex;
    position: absolute;
    top: -20px;
    right: -20px;
}

.form_close_image{
	cursor: pointer;
}

.online_form_name{
	display: flex;
	justify-content: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	text-align: center;
	color: white;
	font-variant: all-petite-caps;
	font-size: 35px;
	margin: 0;
	padding-top: 30px;
}

.online_form_form{
	width: 500px;
	height: 250px;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	margin: 0;
}

.online_form_data{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 150px;
}

.online_form{
	display: flex;
	justify-content: space-between;
}

.online_form_form_placeholder{
	border-radius: 3px;
	padding: 10px;
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	font-size: 14px;
	width: 180px;
	border: solid;
    border-width: 0.5px;
    border-color: lightgrey;
    background-color: lightgoldenrodyellow;
}

.online_form_form_textbox{
	border-radius: 3px;
	border:none;
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	padding: 10px;
	font-size: 14px;
	width: 300px;
	border: solid;
    border-width: 0.5px;
    border-color: lightgrey;
    background-color: lightgoldenrodyellow;
}

.online_form_form_button{
	border-radius: 3px;
	padding: 10px;
	width: 500px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 14px;
	background-color: #70a6cf;
	font-variant: all-petite-caps;
	border: 0px;
	cursor: pointer;
}

.class_footer{
	height: 170px;
	background-color: #04030F;
	display: flex;
	justify-content: center;
}

.container{
	padding-bottom: 20px;
	height: 100px;
	display: flex;
	justify-content: space-between;
	width: 80%;
	align-self: center;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	margin: 0;
}

.container_contacts{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
}

.container_contacts_link{
	color: #F8F6EA;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-variant: all-petite-caps;
	font-size: 18px;
	opacity: 1;
}

.footer_line{
	height: 1px;
	width: 200px;
	background-color: rgba(245,255,255,0.5);
}

.container_copyright{
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}

.copyright{
	color: #F8F6EA;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-variant: all-petite-caps;
	font-size: 12px;
	opacity: 1;
}

.copyright_text{
	margin: 0;
}

.link_copyright{
	text-decoration: none;
	color: #F8F6EA;
}

.toTop{
	position: fixed;
    bottom: -80px;
    padding: 0px;
    z-index:99991;
    cursor: pointer;
    display: none;
}

.toTop_link{
	width: 90px;
    height: 90px;
    border-radius: 45px;
    background: #70a6cf;
    display:block;
    text-decoration:none;
    -webkit-transition: all linear 0.2s; 
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-variant: all-petite-caps;
	font-size: 16px;
	padding-top: 7px;
	color: #FFFFFF;
}

.toTop_link:hover{
	height: 100px;
	width: 100px;
	font-size: 18px;
	border-radius: 50px;
	padding-top: 15px;
    -webkit-transition: all linear 0.2s; 
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
    color: #fff;
}

@media all and (max-width: 1200px){
	.products_list_point_1{
		height: 330px;
	}

	.products_list_point_2{
		height: 330px;
	}

	.products_list_point_3{
		height: 330px;
	}
}

@media all and (max-width: 1125px){
	.products_list_point_1{
		height: 310px;
	}

	.products_list_point_2{
		height: 310px;
	}

	.products_list_point_3{
		height: 310px;
	}
}

@media all and (max-width: 1025px){
	.products_list_point_name{
		font-size: 30px;
	}

	.products_list_point_1{
		height: 290px;
	}

	.products_list_point_2{
		height: 290px;
	}

	.products_list_point_3{
		height: 290px;
	}

	.products_list_point_div1{
		width: 250px;
	}

	.products_list_point_div2{
		width: 250px;
	}

	.products_list_point_div3{
		width: 250px;
	}

	.products_list_point_text{
		font-size: 16px;
	}

	.broad_description_product_textbox_text_1{
		text-align: left;
	}

	.broad_description_product_textbox_text_2{
		text-align: right;
	}
}

@media all and (max-width: 950px){
	.form{
		width: 72%;
		left: 14%;
	}

	.products_list_point_1{
		height: 260px;
	}

	.products_list_point_2{
		height: 260px;
	}

	.products_list_point_3{
		height: 260px;
	}

	.products_list_point_name{
		font-size: 28px;
	}
}

@media all and (max-width: 850px){

	.products_list_point_1{
		height: 230px;
	}

	.products_list_point_2{
		height: 230px;
	}

	.products_list_point_3{
		height: 230px;
	}

	.products_list_point_name{
		font-size: 24px;
	}
}

@media all and (max-width: 750px){

	.main_image{
		height: 400px;
	}

	.products_list_point_1{
		height: 200px;
	}

	.products_list_point_2{
		height: 200px;
	}

	.products_list_point_3{
		height: 200px;
	}

	.products_list_point_name{
		font-size: 20px;
	}

	.products_list_point_1:hover .products_list_point_div1{
		display: none;
	}

	.products_list_point_2:hover .products_list_point_div2{
		display: none;
	}

	.products_list_point_3:hover .products_list_point_div3{
		display: none;
	}

	.broad_description_product_textbox_text_1{
		text-align: left;
	}

	.broad_description_product_textbox_text_2{
		text-align: right;
	}
}

@media all and (max-width: 600px){
	.main_image{
		height: 250px;
		align-items: center;
	    justify-content: space-between;
	}

	.header_name{
		padding-left: 0;
		padding-top: 7%;
		display: flex;
	    flex-direction: column;
	    align-items: center;
	}

	.header_navigator{
		padding-left: 0;
		padding-bottom: 5%;
		width: 80%;
	}

	.header_navigator_link{
		font-size: 18px;
		font-weight: 300;
	}

	.products_list_point_name{
		font-size: 18px;
	}

	.products_list_point_image{
		height: 60px;
	}

	.products_list_point_1{
		height: 150px;
	}

	.products_list_point_2{
		height: 150px;
	}

	.products_list_point_3{
		height: 150px;
	}

	.div_show_hide{
		font-size: 16px;
	}

	.div_show_hide_apply{
		font-size: 16px;
	}

	.div_products_list_point_name{
		font-size: 26px;
	}

	.broad_description_product_textbox_1{
		width: 100%
	}

	.broad_description_product_textbox_2{
		width: 100%
	}

	.broad_description_product_textbox_text_1{
		text-align: center;
		font-size: 16px;
		padding-left: 0;
	}

	.broad_description_product_textbox_text_2{
		text-align: center;
		font-size: 16px;
		padding-right: 0;
	}

	.form_div {
    width: 230px;
    height: 350px;
	}

	.online_form{
		flex-direction: column;
		align-items: center;
		height: 235px;
	}

	.online_form_form{
		width: 180px;
		height: 290px;
		padding: 0;
		align-items: center;
		justify-content: space-between;
	}

	.online_form_form_textbox{
		width: 180px;
		height: 65px;
	}

	.online_form_form_button{
		width: 180px;
	}

	.container_contacts_link{
		font-size: 16px;
	}
}

@media all and (max-width: 530px){
	.products_list_point_1{
		height: 50px;
	}

	.products_list_point_2{
		height: 50px;
	}

	.products_list_point_3{
		height: 50px;
	}

	.products_list_point_image{
		display: none;
	}

	.div_products_list_point_name{
		font-size: 24px;
	}

	.main_image{
		justify-content: center;
	}

	.header_name{
		padding: 0;
	}

	.header_navigator{
		display: none;
	}

}

@media all and (max-width: 400px){
	.products_list_point_name{
		font-size: 16px;
	}

	.header_top_img{
		height: 15px;
	}

	.social_networks{
		width: 60px;
	}

	.container_contacts_link{
		font-size: 14px;
	}
}

@media all and (max-width: 600px) and (max-height: 450px){
	
	.form_div{
		height: 210px;
		width: 400px;
	}

	.online_form_form{
		height: 178px;
		width: 370px;
	}

	.online_form{
		flex-direction: row;
    	width: 370px;
    	height: 130px;
	}

	.online_form_data{
		height: 130px;
	}

	.online_form_form_textbox{
		height: 130px;
	}

	.online_form_form_button {
		width: 370px;
	}
}

@media all and (max-width: 500px) and (max-height: 450px){

	.form_div{
		height: 170px;
		width: 310px;
	}

	.online_form_form{
		width: 280px;
		height: 140px;
	}

	.online_form{
		width: 280px;
		height: 100px;
	}

	.online_form_data{
		height: 100px;
	}

	.online_form_form_placeholder{
		width: 120px;
		font-size: 12px;
		padding: 7px;
	}

	.online_form_form_textbox{
		font-size: 12px;
		height: 100px;
		width: 150px;
	}

	.online_form_form_button{
		width: 280px;
		font-size: 12px;
		padding: 7px;
	}
}

@media all and (max-height: 280px) and (min-width:600px){

	.form_div{
		height: 170px;
		width: 310px;
	}

	.online_form_form{
		width: 280px;
		height: 140px;
	}

	.online_form{
		width: 280px;
		height: 100px;
	}

	.online_form_data{
		height: 100px;
	}

	.online_form_form_placeholder{
		width: 120px;
		font-size: 12px;
		padding: 7px;
	}

	.online_form_form_textbox{
		font-size: 12px;
		height: 100px;
		width: 150px;
	}

	.online_form_form_button{
		width: 280px;
		font-size: 12px;
		padding: 7px;
	}
}

@media all and (max-height: 210px){

	.form_div{
		height: 50px;
		width: 510px;
	}

	.online_form_form{
		width: 490px;
		height: 28px;
		flex-direction: row;
	}

	.online_form{
		width: 415px;
		height: 28px;
	}

	.online_form_data{
		width: 310px;
		height: 28px;
		flex-direction: row;
	}

	.online_form_form_placeholder{
		width: 100px;
		font-size: 12px;
		padding: 7px;
	}

	.online_form_form_textbox{
		font-size: 12px;
		height: 28px;
		width: 100px;
	}

	.online_form_form_button{
		width: 70px;
		height: 28px;
		font-size: 12px;
		padding: 7px;
	}
}

@media all and (max-height: 130px){
	.form_close{
		top: 15px;
		right: -25px;
	}

	.toTop{
		display: none;
	}
}