.body{
	margin: 0;
}

.header{
	height: 210px;
	display: flex;
	flex-direction: column;
}
.header_top_line{
	background-color: #0C0C39;
	height: 30px;
	width: 100%;

}

.header_container{
	width: 100%;
	height: 175px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header_name{
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
}


.title{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-variant: all-petite-caps;
	font-size: 45px;
	margin: 0;
	height: 49px;
	align-self: center;
}

.title_link{
	text-decoration: none;
	color: black;
}

.header_navigator{
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 400px;
	padding: 0;
	margin: 0;
	align-self: center;
}

.header_navigator > li {
	padding-bottom: 15px;
	padding-top: 15px;
}

.header_navigator_link{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: black;
	font-size: 16px;
	text-decoration: none;
}

 .header_navigator_link:hover {
 	background-color: rgba(255, 255, 255, 0.9);
 	padding: 6px;
	border-radius: 5px;
	color: black;
 }


.header_navigator_link_aqua{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: black;
	font-size: 16px;
	text-decoration: none;
	position: relative;
}

.header_navigator_link_aqua:hover{
	background-color: rgba(255, 255, 255, 0.9);
 	padding: 6px;
	border-radius: 5px;
	color: black;
}

.header_navigator_aquariums{
	position: absolute;
	display: none;
	width: 150px;
	top: 100%;
	left: -1px;
	padding: 6px;
	list-style: none;
	background-color: rgba(12, 12, 57, 0.9);
	border-radius: 5px
}

.header_navigator_aquariums > li {
	padding: 6px;

}

.header_navigator_aquariums > li > a {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: white;
	font-size: 16px;
	text-decoration: none;
}

.header_navigator_aquariums > li > a:hover {
	background-color: rgba(255, 255, 255, 0.9);
 	padding: 6px;
	border-radius: 5px;
	color: black;
}

.header_navigator_aquariums_point{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: white;
	font-size: 16px;
	text-decoration: none;
}


.header_navigator_link_aqua:hover .header_navigator_aquariums{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: left;
}

.header_navigator_link_menu{
	position: relative;
}

.menu{
	height: 30px;
	padding-left: 115px;
	padding-right: 115px;
	padding-bottom: 5px;
	padding-top: 5px;
	display: none;
}

.menu_list{
	display: none;
	list-style: none;
	height: 230px;
	width: 200px;
	top: 100%;
	left: 0;
	background-color: rgba(150, 176, 242, 0.9);
	padding: 20px;
	padding-left: 40px;
	position: absolute;
}

.menu_list_li:hover {
	padding: 7px;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 5px;
}

.menu_list_li:hover .menu_list_point{
	color: black;
}

.menu_list_li:hover .menu_list_point_aqua{
	color: black;
}

.header_navigator_link_menu:hover .menu_list{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.menu_list_point{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: white;
	font-size: 16px;
	text-decoration: none;
}

.menu_list_point_aqua{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: white;
	font-size: 16px;
	text-decoration: none;
	padding-left: 20px;
}

.main{
	background-image: linear-gradient(to top, #0C0C39, #96B0F2);
}

.main_image{
	height: 400px;
	background-image: url(./image/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.products{
	display: flex;
	justify-content: center;
}

.products_list{
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
}

.products_list_point_1{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: #A9BEF4;
	width: 33%;
	padding: 1%;
	height: 350px;
	color: #F1F4F6;
	transition: all 0.5s;
}


.products_list_point_1::before{
	content: '';
	display: block;
	background-color: rgba(12, 12, 57, 0.3);
	position: absolute;
	height: 350px;
	width: 33%;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 1%;
	padding-right: 0;
	opacity: 0;
	transition: all 0.5s;
}

.products_list_point_1:hover::before{
	opacity: 1;
}

.products_list_point_1:hover .products_list_point_div1{
	display: flex;
}

.products_list_point_2{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: #BCCCF6;
	width: 33%;
	padding: 1%;
	height: 350px;
	color: #F1F4F6;
}

.products_list_point_2::before{
	content: '';
	display: block;
	background-color: rgba(12, 12, 57, 0.3);
	position: absolute;
	height: 350px;
	width: 33%;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 0;
	padding-right: 0;
	opacity: 0;
	transition: all 0.5s;
}

.products_list_point_2:hover::before{
	opacity: 1;
}

.products_list_point_2:hover .products_list_point_div2{
	display: flex;
}

.products_list_point_3{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: #B2C5F5;
	width: 33%;
	padding: 1%;
	height: 350px;
	color: #F1F4F6;
}

.products_list_point_3::before{
	content: '';
	display: block;
	background-color: rgba(12, 12, 57, 0.3);
	position: absolute;
	height: 350px;
	width: 33%;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 1%;
	padding-right: 0;
	opacity: 0;
	transition: all 0.5s;
}

.products_list_point_3:hover::before{
	opacity: 1;
}

.products_list_point_3:hover .products_list_point_div3{
	display: flex;
}

.products_list_point_name{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-variant: all-petite-caps;
	font-size: 40px;
	width: 80%;
	text-align: center;
	margin: 0;
	padding-top: 10px;
	position: relative;
}


.products_list_point_div1{
	display: none;
	align-items: center;
	width: 60%;
	height: 170px;
	position: relative;
}

.products_list_point_div2{
	display: none;
	align-items: center;
	width: 60%;
	height: 170px;
	position: relative;
}

.products_list_point_div3{
	display: none;
	align-items: center;
	width: 60%;
	height: 170px;
	position: relative;
}

.products_list_point_image{
	height: 70px;
	padding-top: 20px;
	position: relative;
}

.products_list_point_text{
	font-family: 'Rubik', sans-serif;
	font-style: 16px;
	text-align: center;
}

.products_list_point_link{
	font-family: 'Rubik', sans-serif;
	font-size: 13px;
	text-decoration: none;
	color: #020411;
}

.broad_description{ 
	display: flex;
	flex-direction: column;
	align-items: center;
}

.broad_description_product_sea{
	height: 400px;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	background-image: url(./image/sea3.jpg);
	background-size: cover;
}

.broad_description_product_sea::before {
	content: '';
	display: block;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	height: 400px;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}

.broad_description_product_sea:hover .broad_description_product_textbox_text_1{
	display: flex;
}

.broad_description_product_sea:hover::before{
	opacity: 1;
}

.broad_description_product_sweet{
	height: 400px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	background-image: url(./image/sweetwater1.jpg);
	background-size: cover;
}

.broad_description_product_sweet::before {
	content: '';
	display: block;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	height: 400px;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}

.broad_description_product_sweet:hover .broad_description_product_textbox_text_2{
	display: flex;
}

.broad_description_product_sweet:hover::before{
	opacity: 1;
}

.broad_description_product_textbox_1{
	width: 40%;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	position: relative;
}

.broad_description_product_textbox_2{
	width: 40%;
	color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

.broad_description_product_textbox_name{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-variant: all-petite-caps;
	margin: 0;
	font-size: 30px;
}

.broad_description_product_textbox_text_1{
	font-family: 'Rubik', sans-serif;
	margin: 0;
	width: 90%;
	padding-top: 20px;
	font-style: 16px;
	display: none;
}

.broad_description_product_textbox_text_2{
	font-family: 'Rubik', sans-serif;
	margin: 0;
	width: 90%;
	padding-top: 20px;
	font-style: 16px;
	display: none;
}

.section_form{
 	display: flex;
 	justify-content: center;
 }

.form{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.online_form_name{
	display: flex;
	justify-content: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: white;
	font-variant: all-petite-caps;
	font-size: 30px;
}

.online_form_form{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	margin: 0;
}

.online_form_form_placeholder{
	border-radius: 3px;
	padding: 10px;
	font-family: 'Rubik', sans-serif;
	font-size: 14px;
	width: 180px;
	border: 0px;
}

.online_form_form_textbox{
	border-radius: 3px;
	font-family: 'Rubik', sans-serif;
	padding: 10px;
	font-size: 14px;
	width: 300px;
}

.online_form_form_button{
	border-radius: 3px;
	padding: 10px;
	width: 130px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 18px;
	background-color: #96B0F2;
	font-variant: all-petite-caps;
	border: 0px;
}

.class_footer{
	background-image: url(./image/Background_footer.jpg);
	background-size: cover;
}

.container{
	display: flex;
	justify-content: center;
	background: RGB(0, 0, 0, 0.4);

}

.container_contacts{
	width: 80%;
	align-self: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 0;
}

.container_contacts_link{
	color: #F8F6EA;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-variant: all-petite-caps;
	font-size: 20px;
	opacity: 1;
}

@media screen and (max-width: 1100px) {

	.products{
	display: flex;
	justify-content: center;
	padding-bottom: 30px;
	}

	.products_list{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 80%;
	padding: 0;
	margin: 0;
	list-style: none;
	}

	.products_list_point{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: #F8F6EA;
	width: 100%;
	height: 250px;
	margin-bottom: 10px;
	}

	.products_list_point_div{
	display: flex;
	align-items: center;
	width: 60%;
	height: 90px;
	}

	.broad_description{
	padding-top: 60px; 
	display: flex;
	flex-direction: column;
	align-items: center;
	}

	.broad_description_product_sea{
	width: 80%;
	height: 450px;
	box-sizing: content-box;
	display: flex;
	flex-direction: column;
	padding-bottom: 30px;
	justify-content: space-around;
	}

	.broad_description_product_sweet{
	width: 80%;
	height: 450px;
	box-sizing: content-box;
	display: flex;
	flex-direction: column-reverse;
	padding-bottom: 30px;
	padding-top: 60px;
	justify-content: space-around;
	}

	.broad_description_product_textbox_1{
	width: 100%;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	}

	.broad_description_product_textbox_2{
	width: 100%;
	color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	}

	.broad_description_product_image{
	width: 100%;
	height: 200px;
	align-self: center;
	display: inline-block;
	}


	.broad_description_product_image_container1{
	height: 100%;
	width: 24%;
	background-image: url(./image/Sea1.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	background-position: center;
	}

	.broad_description_product_image_container2{
	height: 100%;
	width: 24%;
	background-image: url(./image/Sea2.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	background-position: center;
	}

	.broad_description_product_image_container3{
	height: 100%;
	width: 24%;
	background-image: url(./image/Sea3.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	background-position: center;
	}

	.broad_description_product_image_container4{
	height: 100%;
	width: 24%;
	background-image: url(./image/Sea4.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	background-position: center;
	}

	.broad_description_product_image_container5{
	height: 100%;
	width: 24%;
	background-image: url(./image/Sweetwater1.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	background-position: center;
	}

	.broad_description_product_image_container6{
	height: 100%;
	width: 24%;
	background-image: url(./image/Sweetwater2.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	background-position: center;
	}

	.broad_description_product_image_container7{
	height: 100%;
	width: 24%;
	background-image: url(./image/Sweetwater3.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	background-position: center;
	}

	.broad_description_product_image_container8{
	height: 100%;
	width: 24%;
	background-image: url(./image/Sweetwater4.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	background-position: center;
	}

	.section_form {
    padding-top: 60px;
	}

}

@media screen and (max-width: 800px) {
	.header_navigator_link{
	display: none;
	}

	.header_navigator_link_aqua{
	display: none;
	}

	.header_navigator{
	padding-right: 0;
	}

	.header_navigator_link_menu{
	display: flex;
	justify-content: center;
	}

	.menu{
	display: block;
	}

	.broad_description_product_sea{
	width: 80%;
	height: 450px;
	box-sizing: content-box;
	display: flex;
	flex-direction: column;
	padding-bottom: 30px;
	padding-top: 30px;
	justify-content: space-around;
	}

	.broad_description_product_sweet{
	width: 80%;
	height: 450px;
	box-sizing: content-box;
	display: flex;
	flex-direction: column-reverse;
	padding-bottom: 30px;
	padding-top: 90px;
	justify-content: space-around;
	}
}